body{
	background-image:url("images/black2.jpg");
	background-size:cover;
	background-repeat:no-repeat;
}

.card-body{
	background-image:url("dbz/3.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	
}
.dbzhead{
	background-image:url("dbz/4.jpg");
	background-size:cover;
	background-repeat:no-repeat;
}

